<%= form_for @ruby_gem, html: {class: "form-horizontal"}, remote: true do |f| %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.label :name, class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_field :name, value: @gem_info["name"], class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.label :info, class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_area :description, rows: 5, value: @gem_info["info"], class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.label :link, class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_field :link, value: @gem_info["project_uri"], class: "form-control"%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.label :downloads, class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_field :total_downloads, value: @gem_info["downloads"], class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.label :current_version, class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_field "version[name]", value: @gem_info["version"], class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.label :ver_downloads, class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_field "version[this_version_downloads]", value: @gem_info["version_downloads"], class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit "Add gem", class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>