<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Info</th>
    <th>Link</th>
    <th>Total downloads</th>
    <th>Controls</th>
  </tr>
  </thead>

  <tbody>
  <% @ruby_gems.each do |ruby_gem| %>
    <tr>
      <td><%= ruby_gem.name %></td>
      <td><%= ruby_gem.description %></td>
      <td><%= ruby_gem.link %></td>
      <td><%= number_with_delimiter(ruby_gem.total_downloads) %></td>
      <td>
        <%= link_to "", ruby_gem_path(ruby_gem), remote: true, class: "glyphicon glyphicon-info-sign", title: "Gem's info" %>
        <%= link_to "", ruby_gem, method: :delete, remote: true, data: {confirm: "Delete #{ruby_gem.name}?"}, class: "glyphicon glyphicon-trash red", title: "Delete gem" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>