<table class="table table-striped">
  <thead>
    <tr>
      <% if current_user.admin? %>
        <th>User</th>
      <% end  %>
      <th>Name</th>
      <th>Desription</th>
      <th>Link</th>
      <th>Creation date</th>
      <th>Gems tracking</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
  <% projects.each do |project| %>
    <tr>
      <% if current_user.admin? %>
        <td><%= link_to project.user.name, user_path(project.user) %></td>
      <% end  %>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= project.link %></td>
      <td><%= project.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= project.ruby_gems.count %></td>
      <td>
        <%= link_to "", user_project_path(current_user, project), class: "glyphicon glyphicon-info-sign", title: "Project info" %>
        <%= link_to "", user_project_path(current_user, project), method: :delete, data: {confirm: "Delete #{project.name}?"}, class: "glyphicon glyphicon-trash red", title: "Delete project" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>