<div class="row">
  <div class="title">
    <h2><%= @project.name %></h2>
  </div>
</div>

<div class="row">
  <div class="container notifications display-none" id="gem-notifications">
    <%= render partial: "layouts/notifications" %>
  </div>
  <div class="col-sm-offset-3 col-sm-8" id="name-version-form" style="display: none;">
    <%= render partial: "ruby_gems/name_version_form" %>
  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Link</th>
        <th>Creation date</th>
        <th>Gems tracking</th>
        <th>Controls</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @project.description%></td>
        <td><%= @project.link %></td>
        <td><%= @project.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= @project.gem_versions.count %></td>
        <td>
          <%= link_to "", nil, html_options = {class: "glyphicon glyphicon-plus green", id: "show-name-version-form-button",
                                               title: "Track new gem", remote: true} %>
          <%= link_to "", nil, html_options = {class: "glyphicon glyphicon-minus red display-none", id: "hide-name-version-form-button",
                                               title: "Hide form"} %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

