<div class="row">
  <div class="title">
    <h2><%= @project.name %></h2>
  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Link</th>
        <th>Creation date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @project.description%></td>
        <td><%= @project.link %></td>
        <td><%= @project.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3 class="col-sm-3">Project has <%= @project_gems.count %> gems.</h3>
  <h3 class="col-sm-7"><%= render partial: "ruby_gems/form" %></h3>
  <h3 class="col-sm-2"><%= button_to "Add new gems", nil, class: "btn btn-success", id: "add-new-gems-btn" %></h3>
</div>
