<!DOCTYPE html>
<html>
  <head>
    <title>Gems up2dater</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header class="container">
      <div class="row">
        <%=
          link_to_if(current_user.nil?, "Login", login_path) do
            link_to("Logout", logout_path)
          end
        %>

        <%= link_to_if(current_user.nil?, "Register", register_path) do "" end %>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <%= render partial: "layouts/errors" %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= link_to "Home", root_path %>
      </div>
    </div>
  </body>
</html>
