<!DOCTYPE html>
<html>
  <head>
    <title>Gems up2dater</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="wrap">
      <header>
        <%= render partial: "layouts/nav" %>
      </header>

      <div class="container errors"  style="display: none;">
        <%= render partial: "layouts/errors" %>
      </div>

      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        Footer
      </div>
    </footer>
  </body>
</html>
